div.un-engine-logo {
    visibility: hidden;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    height: 35px;
    margin-bottom: 8px;
}

div.un-engine-logo h1.title {
    margin-top: 3px;
    margin-left: 3px; 
    padding-left: 2px;
    padding-right: 3px;
    padding-top: 0;
    font-size: 13px;
    background-color: #9BCD9B;
    float: left;
    border-radius: 4px;
    font-family: Verdana;
    font-style: oblique;
    padding-bottom: 1px;
    color: #ffffff;
}

div.un-engine-logo h1.title span.engine-text {
    font-weight: normal;
    font-size: 14px;
}

div.un-engine-logo h1.title span.un-text {
    font-size: 24px;
}