

div.function-entrance {
    text-align: center;
}

ul.function-list {
    list-style-type: none;
    margin-top: 4px;
}
li.function {
    float: left;
}

li.function a.entrance {
    margin-left: 12px;
    border-bottom: none;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

li.function a.entrance:hover {
    background-color: #000000;
    color: #ffffff;
}
