div.content {
    display: inline-block;   
}

div.map_editor {
    border: 1px solid #cccccc;
    margin-left: 6px;
    float: left;
}

div.map_tile_viewer {
    margin-left: 6px;
    border: 1px solid #cccccc;
    float: left;
    cursor: pointer;
}

canvas.un-dragscreen {
    cursor: pointer;
}

#sys_control_panel {
    margin-top: 8px;
    margin-left: 6px;
    display: block;
}
